
.container {
    width: 800px;
    background-color: #eee;
}

#options-head {
    border-bottom: solid 1px #eee;
    margin-bottom: 10px;
}

/*#options-head span {
    font-size: 12px;
    color: #999;
    padding-left: 5px;
}*/

#options-wrapper {
    border:solid 1px #aaa;
    background-color: #fff;
    padding: 10px;
    height: 520px;
    border-radius: 0 0 4px 4px;
}

/*#settings-wrapper #button-wrapper {
    margin-top: 40px;
    text-align: center;
}

#button-wrapper button {
    width: 100px;
}*/

#marks-wrapper {
    border-left: solid 1px #eee;
    height: 430px;
}

#marks-wrapper #marks-list {
    overflow: auto;
    max-height: 382px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.list-group {
    margin-bottom: 0px;
}

.list-group-item {
    padding-top: 5px;
    padding-bottom: 5px;
}

.list-group-item:first-child, .list-group-item:last-child {
    border-radius: 0px;
}

.list-group-item .item-heading {
    margin-bottom: 5px;
}

.list-group-item .item-heading h4 {
    font-size: 14px;
}

.list-group-item .item-msg {
    padding-left: 5px;
    font-size: 12px;
}

.list-group-item .item-msg .msg-time {
    color: #999;
}

.list-group-item .item-msg .msg-text {
    color: #333
}

.list-group-item .item-buttons {
    position: absolute;
    right: 10px;
    top: 6px;
}

.rotate {
    -webkit-animation: loading 1s infinite linear;
    animation: loading 1s infinite linear;
}

@-webkit-keyframes loading {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
 }

@keyframes loading {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}
