
.container {
    width: 800px;
    background-color: #eee;
}

#options-head {
    border-bottom: solid 1px #eee;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

#options-head h1 {
    display: inline-block;
}

#options-head .desc {
    font-size: 12px;
    color: #999;
    padding-left: 5px;
}

#options-wrapper {
    border:solid 1px #aaa;
    background-color: #fff;
    padding: 10px;
    height: 520px;
    border-radius: 0 0 4px 4px;
}

/*#settings-wrapper #button-wrapper {
    margin-top: 40px;
    text-align: center;
}

#button-wrapper button {
    width: 100px;
}*/

#marks-wrapper {
    border-left: solid 1px #eee;
    height: 445px;
}

#marks-wrapper .marks-filter {
    position: absolute;
    top: 0px;
    right: 15px;
    width: 200px;
}

#marks-wrapper .marks-filter span{
    position: initial;
}

#marks-wrapper #marks-list {
    overflow: auto;
    max-height: 382px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.list-group {
    margin-bottom: 0px;
}

.list-group-item {
    padding-top: 5px;
    padding-bottom: 5px;
}

.list-group-item:first-child, .list-group-item:last-child {
    border-radius: 0px;
}

.list-group-item .item-heading {
    margin-left: -8px;
    color: #333;
}

.list-group-item .item-heading h4 {
    font-size: 16px;
    display: inline-block;
}

.list-group-item .item-heading ul {
    display: inline-block;
    margin-left: 2px;
}

.list-group-item .item-heading ul li {
    padding: 0px 0px 0px 2px;
}

.list-group-item .item-heading span {
    font-size: 12px;
    padding: 0px 2px 0px 2px;
    font-weight: normal;
}

.list-group-item .item-msg {
    font-size: 12px;
}

.list-group-item .item-msg .msg-time {
    color: #999;
}

.list-group-item .item-msg .msg-text {
    color: #333;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    margin-bottom: 0px;
}

.list-group-item .item-buttons {
    position: absolute;
    right: 6px;
    top: 6px;
}

