body {
    width: 420px;
    background-color: #ffffff;
    margin: 0;
}

input {
    border: 1px solid #c0c0c0;
    outline: none;
    height: 20px;
}

.input-group {
    position: relative;
}

.input-group .input-group-addon {
}

.input-group .input-group-btn {
    line-height: 24px;
    padding: 0 8px;
    outline: none;
}

.input-group input {
    width: 300px;
    height: 24px;
    font-size: 12px;
}

#main-content {
}

/* 输入框 */
#main-wrapper {
    background-color: white;
    padding: 10px 10px 5px;
    border-bottom: 1px solid #c0c0c0;
}

#input-wrapper input {
    margin-left: 15px;
    padding-left: 5px;
    width: 264px;
    height: 30px;
    font-size: 14px;
}

#input-wrapper button {
    width: 34px;
    height: 34px;
    padding-bottom: 1px;
    outline: none;
}

#input-wrapper button:disabled {
    cursor: default;
    background-color: rgba(91, 192, 222, 0.48);
}

/* 类型 */
#type-wrapper {
    margin-left: 90px;
}

/* 替换区域 */
#main-content {

}

/* 详细信息 start */

#loading-wrapper, #error-wrapper, #no-marks {
    margin: 10px;
    font-size: 14px;
    font-style: italic;
}

#result-wrapper {
    font-size: 14px;
}

/* 基本信息 */

#result-wrapper #postid-wrapper {
    padding: 10px 10px 4px;
}

.post-id {
    font-size: 18px;
    font-weight: 400;
}

.post-time {
    text-align: center;
}

.again-tip {
    font-style: normal;
    text-decoration: none;
}

#result-container {

}

#result-head {
    padding: 10px;
    background-color: #303030;
    color: #ffffff;
}

#result-head div {
    display: inline-block;
}

#result-head div:first-child {
    width: 110px;
}

#result-table {
    max-height: 330px;
    overflow-y: auto;
}

table {
    border-collapse: collapse;
    border-spacing: 0px;
}

table td {
    padding: 5px;
}

tr.tr-even {
    background-color: #f9f9f9;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}

tr.tr-even:last-child {
    border-bottom: none;
}

tr.tr-odd {

}

tr td:first-child {
    width: 80px;
}

/* 详细信息 end */

/* 订阅列表容器 */

#marks-list {
    min-height: 465px;
    max-height: 465px;
    overflow-y: auto;
}

/* 底部工具栏 */

.footer-actions {
    padding: 8px;
    background-color: #f0f0f0;
    border-top: 1px solid #c0c0c0;
    height: auto;
}

.footer-actions .list-inline {
    margin-top: 5px;
}

/* */

.list-group, .list-inline {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* 订阅列表 start */

.list-group .list-group-item {
    padding: 10px 10px;
    background-color: white;
    position: relative;
}

.list-group .list-group-item:hover {
    background-color: #f0f0f0;
}

.list-group-item.item-type-even {
    border-bottom: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
    background-color: #f9f9f9;
}

.list-group-item.item-type-odd {
}

/* 标题 */

.list-group-item .list-group-item-heading * {
    font-size: 18px;
    font-weight: 400;
    display: inline-block;
}

.list-group-item-heading .list-group-item-actions i {
    margin-right: 5px;
    cursor: pointer;
}

.right {
    float: right;
}

.list-group-item-heading .list-group-item-actions i:hover {
}

/* 最新消息 */

.list-group-item .list-group-item-text {
    font-size: 12px;
    margin: 4px 0;
    padding: 0;
    line-height: 18px;
}

.list-inline {
    margin-left: -3px;
}

.list-inline * {
    display: inline-block;
}

/* 列表 功能图标 */

.item-actions {
    position: absolute;
    top: 0;
    right: 0;
}

/* 订阅列表 end */

/* 标签 颜色 */

.label {
    padding: 3px 4px;
    background-color: #c0c0c0;
    color: #ffffff;
    margin: 0 5px;
    cursor: pointer;
    line-height: 18px;
}

/*@brand-primary: darken(#428bca, 6.5%); // #337ab7*/
/*@brand-success: #5cb85c;*/
/*@brand-info:    #5bc0de;*/
/*@brand-warning: #f0ad4e;*/
/*@brand-danger:  #d9534f;*/

.label-danger {
    background-color: #d9534f;
}

.label-info {
    background-color: #5bc0de;
}

.label-success {
    background-color: #5cb85c;
}

.label-warning {
    background-color: #f0ad4e;
}

.label-primary {
    background-color: #337ab7;
}

.danger {
    color: #d9534f;
}

.info {
    color: #5bc0de;
}

.success {
    color: #5cb85c;
}

.warning {
    color: #f0ad4e;
}

.primary {
    color: #337ab7;
}

.btn {
    padding: 2px 4px;
    border: none;
    color: #ffffff;
    cursor: pointer;
}

.btn-info {
    background-color: #5bc0de;
}

.btn-success {
    background-color: #5cb85c;
}

.btn-warning {
    background-color: #f0ad4e;
}

.btn-primary {
    background-color: #337ab7;
}

.btn-danger {
    background-color: #d9534f;
}
