<!doctype html>
<html ng-app="epOptionsApp" ng-csp>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- build:css styles/lib.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css"/>
    <!-- endbower -->
    <link rel="stylesheet" href="styles/angular-csp.css">
    <link rel="stylesheet" href="styles/main.css"/>
    <!-- endbuild -->

    <!-- build:css styles/options.css -->
    <link rel="stylesheet" href="styles/options.css"/>
    <!-- endbuild -->

    <!-- build:js scripts/lib.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/angular-moment/angular-moment.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/ngstorage/ngStorage.js"></script>
    <!-- endbower -->
    <script src="bower_components/moment/locale/zh-cn.js"></script>
    <script src="scripts/epCore.js"></script>
    <!-- endbuild -->

    <!-- build:js scripts/options.js -->
    <script src="scripts/options.js"></script>
    <!-- endbuild -->

</head>
<body ng-controller="OptionsController">

<div class="panel">
    <div class="panel-heading">
        <h3><i class="fa fa-search"></i>{{i18n('appName')}}</h3>
    </div>

    <div class="panel-body">
        <p class="description"><i class="fa fa-info"></i>&ensp;&ensp;{{i18n('appDescription')}}</p>

        <div class="option-head"><h3><i class="fa fa-cog"></i>&ensp;&ensp;{{i18n('optionSettings')}}</h3></div>
        <!--<div class="checkbox">-->
            <!--<label>-->
                <!--<input type="checkbox" ng-model="conf.sync"-->
                       <!--ng-change="onChange('sync')">-->
                <!--<span>{{i18n('optionSync')}}<i class="fa fa-chrome"></i></span>-->
            <!--</label>-->
        <!--</div>-->
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="conf.check"
                       ng-change="onChange('check')">
                <span>{{i18n('optionCheck')}}</span>
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="conf.auto" ng-change="onChange('auto')">
                <span>{{i18n('optionAuto')}}</span>
            </label>
        </div>
        <div class="form-group">
            <label for="auto-query">{{i18n('optionDelay')}}</label>
            <select ng-disabled="!conf.auto" id="auto-query" ng-change="onChange('auto')" ng-model="conf.delay"
                    class="form-control" ng-options="op +' 分钟' for op in delay_options">
            </select>
        </div>
    </div>

    <div class="panel-footer copyright">
        &copy;2015 <a href="https://github.com/minoscc/express-plus-chrome">快递助手</a> - 由<a
        href="http://www.kuaidi100.com">快递100</a>强力驱动
    </div>
</div>

</body>
</html>
