<!doctype html>
<html ng-app="optionApp" ng-csp>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- build:css styles/lib.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <link rel="stylesheet" href="styles/angular-csp.css">
    <link rel="stylesheet" href="styles/main.css"/>
    <!-- endbuild -->

    <!-- build:css styles/options.css -->
    <link href="styles/options.css" rel="stylesheet">
    <!-- endbuild -->

    <!-- build:js scripts/lib.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/ngstorage/ngStorage.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <!-- endbower -->
    <script src="scripts/explus.js"></script>
    <!-- endbuild -->

    <!-- build:js scripts/options.js -->
    <script src="scripts/options.js"></script>
    <!-- endbuild -->

</head>
<body ng-controller="optionController">

<div id="options-wrapper">
    <!-- 標題 -->
    <div id="options-header">
        <h1><a href="https://github.com/minoscc/express-plus-chrome">{{i18n('appName')}}</a></h1>
    </div>
    <!-- 各種設置 -->
    <div id="options-body">
        <!-- 同步 -->
        <div>
            <label>
                <input type="checkbox" ng-model="conf.sync" ng-change="onChange('sync')">
                <span> {{i18n('optionsSync')}}</span>
            </label>
        </div>
        <!-- 自動 -->
        <div>
            <label>
                <input type="checkbox" ng-model="conf.auto" ng-change="onChange('auto')">
                <span>{{i18n('optionsAuto')}}</span>
            </label>
        </div>
        <!-- 已收貨 -->
        <div class="options-auto">
            <label>
                <input ng-disabled="!conf.auto" type="checkbox" ng-model="conf.check" ng-change="onChange('check')">
                <span> {{i18n('optionsCheck')}}</span>
            </label>
        </div>
        <!-- 間隔 -->
        <div class="options-auto">
            <label for="delay">{{i18n('optionsDelay')}}</label>
            <select ng-disabled="!conf.auto" id="delay" ng-change="onChange('auto')" ng-model="conf.delay"
                    ng-options="op for op in delay_options">
            </select>
        </div>
    </div>
    <!-- 頁腳信息 -->
    <div id="options-footer" class="copyright">
        &copy;2015 <a href="http://siuzuk.com/" target="_blank">Siuzuk</a> - 由 <a
        href="http://www.kuaidi100.com/" target="_blank">kuaidi100</a> 强力驱动
    </div>
</div>

</body>
</html>
