<!doctype html>
<html ng-app="epOptionsApp" ng-csp>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- build:css styles/lib.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
    <!-- bower:css -->
    <link rel="stylesheet" href="styles/angular-csp.css">
    <link rel="stylesheet" href="styles/main.css"/>
    <!-- endbuild -->

    <!-- build:css styles/options.css -->
    <link href="styles/options.css" rel="stylesheet">
    <!-- endbuild -->

    <!-- build:js scripts/lib.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/ngstorage/ngStorage.js"></script>
    <!-- endbower -->
    <script src="scripts/epCore.js"></script>
    <!-- endbuild -->

    <!-- build:js scripts/options.js -->
    <script src="scripts/options.js"></script>
    <!-- endbuild -->

</head>
<body class="container" ng-controller="OptionsController">
<div id="options-wrapper" class="row">
    <div id="options-head" class="col-md-12">
        <h1>{{i18n('appName')}}</h1><span class="desc">{{i18n('appDescription')}}</span>
    </div>
    <div id='settings-wrapper' class="col-md-4">
        <div class="option-head"><h3>{{i18n('optionSettings')}}</h3></div>
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="conf.check"
                       ng-change="onChange('check')">
                <span> {{i18n('optionCheck')}}</span>
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="conf.auto" ng-change="onChange('auto')">
                <span>{{i18n('optionAuto')}}</span>
            </label>
        </div>
        <div class="form-group">
            <label for="auto-query">{{i18n('optionDelay')}}</label>
            <select ng-disabled="!conf.auto" id="auto-query" ng-change="onChange('auto')" ng-model="conf.delay"
                    class="form-control" ng-options="op +' Min' for op in delay_options">
            </select>
        </div>
    </div>
</div>
<footer class="copyright">
    &copy;2015 <a href="https://github.com/minoscc/express-plus-chrome" target="_blank">快递助手</a>
</footer>

</body>
</html>
