<!doctype html>
<html ng-app="epApp" ng-csp>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- build:css styles/lib.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
    <!-- bower:css -->
    <link rel="stylesheet" href="styles/angular-csp.css">
    <link rel="stylesheet" href="styles/main.css"/>
    <!-- endbuild -->

    <!-- build:css styles/popup.css -->
    <link rel="stylesheet" href="styles/popup.css"/>
    <!-- endbuild -->

    <!-- build:js scripts/lib.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/ngstorage/ngStorage.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/angular-moment/angular-moment.js"></script>
    <script src="bower_components/moment/locale/zh-cn.js"></script>
    <!-- endbower -->
    <script src="scripts/epCore.js"></script>
    <!-- endbuild -->

    <!-- build:js scripts/popup.js -->
    <script src="scripts/popup.js"></script>
    <!-- endbuild -->

</head>

<body class="container-fluid">
<!-- 输入框 -->
<div ng-controller="MainController">
    <form id="input-wrapper" name="postIdForm" role="form" ng-submit="showDetail()">
        <div class="input-group">
            <span id="defineIcon" ng-show="loading" class="glyphicon glyphicon-refresh rotate"></span>
            <input ng-focus id="postId-input" ng-model="postId" type="text" placeholder="{{i18n('searchTip')}}"
                   class="form-control" required ng-minlength="6" ng-pattern="/^[0-9a-zA-Z]*.$/">
            <span class="input-group-btn">
                <button ng-disabled="!postIdForm.$valid" type="submit" class="btn btn-info">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
                <button ng-disabled="types.length == 0" class="btn btn-primary">
                    <span class="glyphicon glyphicon-bookmark"></span>
                </button>
            </span>
        </div>
        <div ng-if="types.length>0">
            <ul class="list-inline">
                <li ng-repeat="t in types | limitTo: 5 track by $index" ng-click="showDetail(t)">
                    <span class="label" ng-random-class ng-classes="tagClasses">{{t|type2zh}}</span>
                </li>
            </ul>
        </div>
    </form>
</div>
<!-- 主要内容 -->
<div id="main-content" ng-view></div>
<!-- 页脚&版本信息-->
<footer class="copyright">
    &copy;2015 <a href="https://github.com/minoscc/express-plus-chrome" target="_blank">快递助手</a> - <a href="options.html" target="_blank">设置</a>
</footer>
</body>

</html>
