<!doctype html>
<html ng-app="popupApp" ng-controller="MainController" ng-csp class="ng-scope">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- build:css styles/vendor.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css styles/main.css -->
        <link href="styles/main.css" rel="stylesheet">
        <link rel="stylesheet" href="styles/angular-csp.css">
        <!-- endbuild -->

        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
        <!-- endbower -->
        <script src="scripts/explus.js"></script>
        <!-- endbuild -->


    </head>
    <body class="container-fluid ng-scope">

        <form id="input-wrapper" name="postIdForm" role="form" ng-submit="query()">
            <div class="input-group">
            <input id="postId-input" ng-minlength="6" ng-pattern="/^[0-9a-zA-Z]+$/" ng-model="postId" type="text" placeholder="輸入快遞單號..." class="form-control" required>
                <span class="input-group-btn">
                    <button ng-disabled="!postIdForm.$valid" type="submit" class="btn btn-info" >查詢</button>
                </span>
            </div>
        </form>

        <div id="loading-wrapper" ng-show="status == Status.loading" class="ng-binding ng-hide">請稍等，查詢中...</div>
        <div id="result-wrapper" ng-show="status == Status.ready" class="ng-hide">
            <div id="postid-wrapper">
                <h2 class="postId" >{{post.id}}</h2>
                <div class="comCode">公司：{{post.com}}</div>
                <div class="pTime">歷時：{{post.totaltime | spendTime }}</div>
                <a class="rss-button" ng-click="makerss()" title="訂閱">
                    <span ng-if="subed" class="glyphicon glyphicon-star"></span>
                    <span ng-if="!subed" class="glyphicon glyphicon-star-empty"></span>
                </a>
            </div>
            <div id="result-nothing" ng-if="nothing">{{post.message}}</div>
            <table id="result-table" ng-if="!nothing" class="table table-striped">
                <thead>
                    <tr>
                        <th>更新時間</th>
                        <th></th>
                        <th>內容</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="p in post.steps" ng-class="{danger: $first&&!post.check, success: $first&&post.check}">
                        <td>{{p.time}}</td>
                        <td><span class="glyphicon glyphicon-map-marker"></span></td>
                        <td>{{p.context}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="copyright">
                ©2015 Powered by <a href="http://www.kuaidi100.com/" target="_blank">kuaidi100</a>
            </div>
        </div>
        <div id="error-wrapper" ng-show="status == Status.error" class="ng-binding ng-hide">
            <p>{{post.message}}</p>
        </div>
        <!-- build:js scripts/popup.js -->
        <script src="scripts/popup.js"></script>
        <!-- endbuild -->
    </body>
</html>
