<!doctype html>
<html ng-app="popupApp" ng-controller="MainController" ng-csp>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- build:css styles/lib.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
    <!-- bower:css -->
    <link rel="stylesheet" href="styles/angular-csp.css">
    <link rel="stylesheet" href="styles/main.css"/>
    <!-- endbuild -->

    <!-- build:css styles/popup.css -->
    <link rel="stylesheet" href="styles/popup.css"/>
    <!-- endbuild -->

    <!-- build:js scripts/lib.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/ngstorage/ngStorage.js"></script>
    <!-- endbower -->
    <script src="scripts/explus.js"></script>
    <!-- endbuild -->

    <!-- build:js scripts/popup.js -->
    <script src="scripts/popup.js"></script>
    <!-- endbuild -->

</head>
<body class="container-fluid ng-scope">

<form id="input-wrapper" name="postIdForm" role="form" ng-submit="query()">
    <div class="input-group">
        <input id="postId-input" ng-model="postId" type="text" placeholder="{{i18n('searchTip')}}" class="form-control"
               required>
                <span class="input-group-btn">
                    <button ng-disabled="!postIdForm.$valid" type="submit" class="btn btn-info">{{i18n('queryName')}}
                    </button>
                </span>
    </div>
    <div ng-if="codes.length>0">
        <ul>
            <li ng-repeat="code in codes | limitTo: 5 track by $index" ng-click="query(code)"><span class="label"
                ng-random-class ng-classes="tagclasses">{{code}}</span></li>
        </ul>
    </div>
</form>

<div id="loading-wrapper" ng-show="loading" class="ng-hide">Loading...</div>
<div id="result-wrapper" ng-show="post.status == '200'" class="ng-hide">
    <div id="postid-wrapper">
        <h2 class="post-id">{{post.id}}</h2>

        <div class="info">{{i18n('company')}}：{{post.com}}</div>
        <div class="info">{{i18n('totalTime')}}：{{post.totaltime | spendTime }}</div>
        <div class="info" ng-if="post.destination">dest: {{post.destination}}</div>
        <a class="mark-button" ng-click="mark()" title="mark">
            <span ng-if="marked" class="glyphicon glyphicon-star"></span>
            <span ng-if="!marked" class="glyphicon glyphicon-star-empty"></span>
        </a>
    </div>
    <div id="result-nothing" ng-if="!post.isOk()">{{post.message}}</div>
    <table id="result-table" ng-if="post.isOk()" class="table table-striped">
        <thead>
        <tr>
            <th>{{i18n('updateTime')}}</th>
            <th></th>
            <th>{{i18n('updateContext')}}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="p in post.data"
            ng-class="{danger: $first&&!(post.ischeck=='1'), success: $first&&(post.ischeck=='1')}">
            <td class="post-time">{{p.time}}</td>
            <td><span class="glyphicon glyphicon-map-marker"></span></td>
            <td class="post-context">{{p.context}}</td>
        </tr>
        </tbody>
    </table>
    <div class="copyright">
        &copy;2015 Powered by <a href="http://www.kuaidi100.com/" target="_blank">kuaidi100</a>
    </div>
</div>
<div id="error-wrapper"
     ng-show="post.status == '201' || post.status == '400' || post.status == '500' || post.status == '503'"
     class="ng-hide">
    <p>{{post.message}}</p>

    <p ng-if="post.error">{{post.error}}</p>
</div>

</body>
</html>
