<div id='marks-wrapper'>

    <div id="no-marks" ng-if="$storage.marks.length == 0">
        <p>You have not mark some express.</p>
    </div>

    <div id="marks-list" ng-if="$storage.marks.length > 0">
        <!--<div class="input-group input-group-sm marks-filter">
            <span class="glyphicon glyphicon-search input-group-addon"></span>
            <input type="text" class="form-control" ng-model="markFilter"/>
            <span class="glyphicon glyphicon-remove-circle filter-clean" ng-show="markFilter!=''"
                  ng-click="setFilter('')"></span>
        </div>-->
        <ul class="list-group">
            <li ng-repeat="mark in $storage.marks | filter: markFilter | orderBy: 'time':true" multiple="true"
                class="list-group-item"
                ng-class-even="'item-type-even'"
                ng-class-odd="'item-type-odd'">
                <h4 class="list-group-item-heading">{{mark.id}}</h4>
                <p title="{{mark.time + ' ' + mark.text}}" class="list-group-item-text">
                    <span class="msg-time" am-time-ago="mark.time"></span>{{mark.text}}
                </p>
                <ul class="list-inline item-tags">
                    <li>
                        <a href="#" ng-click="setFilter(mark.com)">
                            <span class="label label-default">{{mark.com|type2zh}}</span>
                        </a>
                    </li>
                    <li ng-repeat="tag in mark.tags">
                        <a href="#" ng-click="setFilter(tag)">
                            <span class="label" ng-random-class ng-classes="tagClasses">{{tag}}</span>
                        </a>
                    </li>
                </ul>
                <div class="btn-group-vertical btn-group-sm item-actions" role="group">
                    <button title="{{i18n('share')}}" ng-click="shareMark(mark.id)" class="btn btn-default">
                        <span class="glyphicon glyphicon-share"></span>
                    </button>
                    <button title="{{i18n('update')}}" ng-click="updateMark(mark.id)" ng-disabled="mark.check"
                            class="btn btn-info">
                        <span ng-class="{rotate: mark.loading}" class="glyphicon glyphicon-refresh"></span>
                    </button>
                    <button title="{{i18n('delete')}}" ng-click="removeMark(mark.id)" class="btn btn-danger">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </div>
            </li>
        </ul>
    </div>
</div>
